{
	"agentid" : "HEMS-noLockout",
	"tf": 24,
	"ddt": 0.008333333333,
	"mdt": 0.08333333333,
	"para-ratio": 5,
	"para-Tdesired": 60,
	"para-Tmin": 54,
	"para-Tmax": 66,
	"para-power": 4130,
	"para-COP": 10,
	"hr_start": 12,
	"hr_stop": 18,
	"Q_lim": 1000,
	"percentage": 90,
	"P_cap": 1,
	"uncontrolled": 0,
	"U_A": 716.4836,
	"C_a": 1.1886e+03,
	"halfband_AC_dn_above": 2,
	"halfband_AC_dn_below": 0,
	"delta": 0.008333333333,
	"Q_hvac": -8616.29,
	"halfband_AC_dn_below": 0,
	"halfband_AC_dn_above": 2,
	"Q_i" : 3412
}