{
    "driver_config": {
	"username": "",
	"password": "",
	"macid": "20F85ED895BD",
	"address": "",
	"mqtt": {
            "host": "10.1.10.31",
            "port": 1883,
            "username": "",
            "password": "",
            "ca": "/home/pi/myCA/ca.crt",
            "timeout": 15,
            "qos": 2
        }
    },
    "campus": "ORNL",
    "building": "yarnll",
    "unit": "cta2045-WH",
    "driver_type": "cta2045",
    "registry_config":"config://cta2045.csv",
    "interval": 10,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
