{
    "driver_config": {
	"username": "",
        "password": "",
        "macid": "0x0000d8d5b9000342",
        "address": "",
        "mqtt": {
            "host": "127.0.0.1",
            "port": 8883,
            "username": "0000d8d5b9000342",
            "password": "password",
            "ca": "/home/pi/ca.pem",
            "timeout": 15,
            "qos": 2
        }
    },
    "campus": "skycentrics",
    "building": "office",
    "unit": "eagle",
    "driver_type": "rainforesteagle2",
    "registry_config":"config://eagle.csv",
    "interval": 10,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
